body {
  background-color: green;
  text-shadow: black 2px 2px;
}
td {
  width: 55px;
  height: 55px;
  font-size: 44px;
  text-align: center;
}
table {
  margin: auto;
}
div {
  margin-top: 10px;
  text-align: center;
  visibility: hidden;
}
button {
  display: inline-block;
  width: 100px;
  margin: 10px;
  padding: 8px;
  border-radius: 5px;
  border: 2px solid rgba(0, 0, 0, .2);
  letter-spacing: 1.5px;
  font-size: 13px;
  font-weight: bold;
  text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
  color: #FFFFFF;
  background-color: slategray;
}