body {
  background-color: black;
  text-shadow: black 2px 2px 2px;
}
p {
  margin: 40px;
  font-size: 100px;
  text-align: center;
  color: white;
  text-shadow: slategrey 5px 5px 4px;
  border-bottom: 5px solid white;
}
td {
  width: 55px;
  height: 55px;
  font-size: 44px;
  text-align: center;
}
table {
  background-color: green;
  margin: auto;
}
div {
  margin-top: 30px;
  text-align: center;
  visibility: hidden;
}
button {
  display: inline-block;
  width: 100px;
  margin: 10px;
  padding: 8px;
  border-radius: 5px;
  border: 2px solid rgba(0, 0, 0, .2);
  letter-spacing: 1.5px;
  font-size: 13px;
  font-weight: bold;
  text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
  color: #FFFFFF;
  background-color: slategray;
  box-shadow: 2px 2px 5px darkgray;
}
#player1 {
  float: left;
  color: red;
  font-size: 100px;
  text-shadow: slategrey 5px 5px 4px;
}
#player2 {
  float: right;
  color: blue;
  font-size: 100px;
  text-shadow: slategrey 5px 5px 4px;
}